*{
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

main{
    position: fixed;
    top: 96px;
    left: 232px;
    padding-top: 110px; 
    padding-left: 96px;
    background-color: rgb(246, 247, 248);
    width: 100vw;
    height: 100vh;
}

main * {
    border-radius: 10px;
}


.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 54, 71);
    height: 100vh;
    width: 232px ;
    z-index: 10;
    border-radius: unset;
}

.sidebar-logo{
    width: 100.03px;
    height: 121.97px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.sidebar-icon{
    height: 25px;
    width: 25px;
    margin-right: 8px;
    margin-left: 48px;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 64px;
}

.sidebar-menu-div{
    display: flex;
    align-items: center;
    height: 46px;
    width: 100%;
    color: rgb(205, 205, 205);
    transition: all 125ms;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.sidebar-menu-div:hover{
    cursor: pointer;
    background-color: rgb(9, 25, 49);
}

.active-link{
    background-color: rgb(9, 25, 49);
    color: white;
}

.sidebar-menu-2{
    width: 100%;
    align-items: flex-start;
    gap: 4px;
    margin-top: 283px;
}

.sidebar-menu-2 a{
    color: rgb(168, 168, 168);
    font-size: 14px;
    padding: 8px 0 8px 0;
}

.sidebar-menu-2 a:hover{
    cursor: pointer;
    font-weight: bold;
    color: rgba(41, 171, 226, 1);
}

.sidebar-2-div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 56px;
}


header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 40px 20px 348px;
    gap: 0px;
    z-index: 5;
    border-radius: unset;
}

.header-title{
    font-size: 20px;
    font-weight: 400;
}

.header-icons{
    display: flex;
    align-items: center;
    gap: 16px;
}

.help-icon{
    height: 20px;
    width: 20px;
    margin-right: 8px;
    transition: transform 100ms;
}

.help-icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.user-initials{
    width: 48px;
    height: 48px;
    border: 3px solid rgba(42, 54, 71, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(41, 171, 226, 1);
    font-weight: bold;
    font-size: 20px;
}

.user-initials:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}


.user-menu{
    position: absolute;
    top: 96px;
    right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(42, 54, 71, 1);
    width: 158px;
    height: 164px;
    padding: 10px;
    gap: 8px;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 25;
}

.user-menu a{
    color: rgb(205, 205, 205);
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    
}

.user-menu a:hover{
    cursor: pointer;
    background-color: rgba(42,61,89,255);
}

.user-menu-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 20;
}

.d-none{
    display: none;
}

.header-logo-mobile{
    display: none;
    width: 32px;
    height: 39.02px;
}


.mobile-menu{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 16px;
    background-color: rgb(42, 54, 71);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    z-index: 10;
}


.mobile-menu-div{
    padding: 15px 1px 15px 1px;
    color: rgb(205, 205, 205);
    font-size: 14px;
    line-height: 16.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;   
    border-radius: 15px;
    width: 76px;
    height: 76px;
}

.mobile-menu-icon{
    width: 24px;
    height: 24px;
}

.mobile-menu-div:hover{
    cursor: pointer;
    background-color: rgb(9, 25, 49);
}



@media(min-width: 601px){
    .mobile-menu{
        display: none !important;
    }
    main{
        top: 96px;
        right: 232px;
    }
  
}


@media(max-width: 768px){
    header{
        padding: 20px 40px 20px 260px;
    }
}

@media(max-width: 600px){
    .sidebar{
        display: none;
    }
    .header-title{
        display: none;
    }
    .header-logo-mobile{
        display: block;
    }
    header{
        padding: 20px 16px 20px 16px;
        height: 80px;
    }
    .user-menu{
        top: 80px;
    }
    .help-icon{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    main{
        top: 80px;
        right: 0;
    }
}


h1{
    font-weight: 700;
    font-size: 61px;
}


form label{
    display: block;
    color: rgba(42, 54, 71, 1);
}

.add-task-form{
    display: flex;
    margin-top: 32px;
}

form input{
    width: 100%;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 12px 21px 12px 21px;
    gap: 10px;
    height: 48px;
    font-size: 18px;
    margin-top: 4px;
}

form select{
    width: 100%;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 12px 16px 12px 16px;
    gap: 10px;
    height: 48px;
    font-size: 18px;
    margin-top: 4px;
}



input::placeholder, textarea::placeholder{
    color: rgba(209, 209, 209, 1);
}

#description{
    height: 120px; 
    overflow: auto;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 18px 16px 18px 16px;
    gap: 10px;
    width: 100%;
    font-size: 18px;
    margin-top: 4px;
}


.addTaskColumn{
    width: 440px;
}

.addTaskBorder{
    background-color:  rgba(209, 209, 209, 1);
    height: 424px;
    width: 1px;
    margin-left: 32px;
    margin-right: 32px;
}

.input{
    margin-bottom: 8px;
}


.required-label{
    font-size: 12px;
    color: rgba(255, 129, 144, 1);
    height: 15px;
    opacity: 0;
}

.prio-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 100%;
}

.input-container{
    position: relative;
    height: 56px;
    width: 136px;
}

.input-container input{
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}


.input-container .radio-tile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 125ms ease;
    background-color: white;
}


input:checked + #urgent-tile{
    background-color: rgb(255, 61, 0);
}
input:checked + #medium-tile{
    background-color: rgb(255, 168, 0);
}
input:checked + #low-tile{
    background-color: rgb(122, 226, 41);
}

#medium-img{
    filter: brightness(0) saturate(100%) invert(65%) sepia(96%) saturate(1913%) hue-rotate(357deg) brightness(103%) contrast(108%);
}

input:checked + .radio-tile label, input:checked + .radio-tile img{
    color: white;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3496%) hue-rotate(202deg) brightness(109%) contrast(94%) !important;
    font-weight: bold;
}

.radio-tile img{
    margin-left: 8px;
}


.subtask-input-container{
    display: flex;
    align-items: center;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: white;
    height: 48px;
    padding-bottom: 3px;
}

#subtasks{
    width: 93%;
    border: none;
    height: 96%;
}

#subtasks:focus{
    outline:none;
}

.subtask-input-container:focus-within{
    outline: 1px solid black;
}

label{
    margin-bottom: 4px;
}

.add-subtask-icon:hover{
    cursor: pointer;
    background: rgb(228, 228, 228);
    border-radius: 50%;
}

#subtasks-list{
    margin-top: 4px;
    width: 100%;
    padding: 0;
}

#subtasks-list li{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px 2px 32px;
    width: 100%;
    transition: all 125ms ease;
}

.subtasks-icons{
    display: flex;
    gap: 8px;
    padding-top: 4px;
}

.subtask-icon{
    height: 20px;
    width: 20px;
    opacity: 0;
}

.subtask-input{
    padding: 0;
    font-size: 14px;
    border: none;
    padding-left: 4px;
    height: 18px;
    width: 80%;
    margin: 0;
    transition: all 125ms ease;
    background-color: rgb(246, 247, 248)
}

.subtask-input:focus{
    outline: none ;
}

.subtask-input:hover{
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}

.bullet-point{
    width: 3px;
    height: 3px;
    margin-right: 0;
}

#subtasks-list li:hover{
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

#subtasks-list li:hover .subtask-input{
    background-color: rgb(228, 228, 228);
}

#subtasks-list li:hover .subtask-icon {
    opacity: 1;
  }

  .subtask-icon:hover{
    transform: scale(1.2);
  }

  .form-bottom{
    position: fixed;
    bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 944px;
  }

.red{
    color: rgb(255, 129, 144);
}

.form-btns-div{
    width: 309px;
    display: flex;
    justify-content: space-between;
}

.form-btns-div button{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 75ms ease;
}

.clear-btn{
    width: 110px;
    color: rgba(42, 54, 71, 1);
    font-size: 20px;
    border: 1px solid rgba(42, 54, 71, 1);
    background-color: white;
}

.create-task-btn{
    font-size: 21px;
    font-weight: 700;
    width: 183px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border: unset;
}


.btn-icon{
    margin-left: 4px;
}

.clear-btn:hover{
    cursor: pointer;
    border: 2px solid rgba(41, 171, 226, 1);
    color: rgba(41, 171, 226, 1);
}

.create-task-btn:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}

.clear-btn:hover .btn-icon{
    filter: brightness(0) saturate(100%) invert(55%) sepia(74%) saturate(886%) hue-rotate(165deg) brightness(94%) contrast(87%);
}


.info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 24px;
}

.return-img{
    width: 37px;
    height: 37px;
    transition: all 100ms ease;
}

.return-img:hover{
    cursor: pointer;
    transform: scale(1.1)
}

.info-main{
    position: fixed;
    top: 96px;
    left: 232px;
    padding-top: 110px; 
    padding-left: 96px;
    padding-right: 40px;
    background-color: rgb(246, 247, 248);
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    overflow: auto;
}

h2{
    margin-top: 24px;
}

.blue{
    color:rgba(41, 171, 226, 1);
}



@media(max-height: 800px){
    header{
        height: 88px;
    }
    .user-menu{
        top: 88px;
    }
    .user-initials{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    main{
        top: 88px;
        padding-left: 80px;
        padding-top: 40px;
    }
    .info-main{
        top: 88px;
        padding-left: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        height: calc(100vh - 88px);
    }
    .sidebar-menu{
        margin-top: 20px;
    }
    .sidebar-menu-2{
        margin-top: 18vh;
    }
    h1{
        font-size: 48px;
    }
    .add-task-form{
        margin-top: 32px;
    }
    form input{
        height: 40px;
        font-size: 16px;
    }
    form select{
        height: 40px;
        font-size: 16px;
    }
    #description{
        height: 100px;
        font-size: 16px;
    }
    .addTaskColumn{
        width: 30vw;
    }
    .addTaskBorder{
        height: 55vh;
    }
    .input-container{
        height: 48px;
    }
    .subtask-input-container{
        height: 40px;
    }
    #subtasks-list li{
        font-size: 14px;
    }
    .form-bottom{
        width: 64vw;
        bottom: 32px;
    }
    .form-btns-div{
        width: 23vw;
    }
    .form-btns-div button{
        height: 44px;
    }
    .clear-btn{
        width: 10vw;
        font-size: 17px;
    }
    .create-task-btn{
        font-size: 18px;
        width: 12vw;
    }
    form select{
        padding: 8px 16px 8px 16px;
    }

}


::-webkit-scrollbar {
    width: 0.6vw;
    color: rgb(7, 7, 31);
    
  }

  ::-webkit-scrollbar-track {
    background: rgb(246, 247, 248);
  }

  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 16px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.help-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;
}

.help-table td{
    vertical-align: top;
    padding: 10px;
}

.help-table td:first-child {
    padding-right: 20px;
}

.help-table h2, .help-table h3, .help-table span {
    margin: 0;
}

.help-table h2 {
    margin-bottom: 10px;
}


.index-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 247, 248);
    transition: all 125ms ease;
}

#main-content{
    transition: all 125ms ease;
}

.index-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 77px;
    padding-right: 77px;
    margin-top: 56px;
}

.index-header-logo{
    height: 121.97px;
    width: 100.03px;
    transition: all 2s ease;
}

.index-header-logo-size{
    height: 121.97px;
    width: 100.03px;
    position: absolute;
    transition: all 2s ease;
}

.index-header-div{
    display: flex;
    align-items: center;
    height: 49px;
    width: 279px;
}

.index-header-text{
    font-size: 20px;
    margin-right: 24px;
}

.sign-up-btn{
    height: 49px;
    width: 91px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: unset;
    transition: all 125ms ease;
}

.sign-up-btn:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}

.log-in{
    width: 652px;
    height: 493px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    margin-top: 64px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.log-in h2{
    font-size: 61px;
    margin-top: 32px;
}

.index-input-container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.index-input-icon{
    border-radius: 0;
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
}

#mail-icon{
    width: 21px;
    height: 16px;
}

#lock-icon{
    width: 16px;
    height: 21px;
}

.index-input{
    border-radius: 10px;
    width: 100%;
    margin-bottom: 24px;
    height: 48px;
}

.log-in form{
    width: 422px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.log-in-underline{
    background-color: rgba(41, 171, 226, 1);
    height: 3px;
    width: 150px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.checkbox-container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 142px;
    height: 24px;
}

.checkbox-label{
    margin: 0;
}


input[type=checkbox] {
    transform: scale(0.5);
    margin: 0;
}

.log-in-buttons-div{
    margin-top: 32px;
    display: flex;
    width: 322px;
    height: 48px;
    justify-content: space-between;
}

.log-in-btn{
    height: 100%;
    width: 110px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    border: unset;
    transition: all 125ms ease;
}

.checkbox-label:hover{
    cursor: pointer;
}

.remember-checkbox:hover{
    cursor: pointer;
}

.log-in-btn:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}


.guest-log-in-btn{
    height: 100%;
    width: 177px;
    color: rgba(42, 54, 71, 1);
    border: 2px solid rgba(42, 54, 71, 1);
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    transition: all 125ms ease;
}

.guest-log-in-btn:hover{
    cursor: pointer;
    color: rgba(41, 171, 226, 1);
    border: 2px solid rgba(41, 171, 226, 1);
}

.log-in-row{
    display: flex;
    margin-bottom: 8px;
}

.forgot-btn{
    background: transparent;
    border: none;
    color: rgba(41, 171, 226, 1);
    font-size: 16px;
    margin-left: 32px;
    opacity: 0;
}

.index-link-div{
    display: flex;
    justify-content: space-between;
    width: 246px;
    height: 35px;   
    position: fixed;
    bottom: 32px;
}

.index-link-div a{
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
    transition: all 100ms ease;
}

.index-link-div a:hover{
    color: rgba(41, 171, 226, 1);
    font-weight: bold;
}

.sign-up{
    position: relative;
    width: 598px;
    height: 630px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    margin-top: 32px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.index-header-2{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 77px;
    padding-right: 77px;
    margin-top: 32px;
}

.sign-up h2{
    font-size: 61px;
    font-weight: 700;
}

.sign-up form{
    width: 422px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.sign-up form input[type=checkbox] {
    transform: scale(1);
    margin-right: 16px;
}

.sign-up-row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-up-btn-2{
    height: 55px;
    width: 110px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    border: unset;
    transition: all 125ms ease;
    margin-top: 32px;
}

.sign-up-btn-2:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}

.sign-up-btn-2:disabled:hover {
    background-color: rgba(42, 54, 71, 1); 
    cursor: default; 
}

.checkbox-container-2{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 231px;
    height: 24px;
    margin-top: 8px;
}

.checkbox-container-2 a{
    text-decoration: none;
    color: rgba(41, 171, 226, 1);
}

.return-img-sign-up{
    position: absolute;
    left: 48px;
    top: 44px;
    transition: all 100ms ease;
}

.return-img-sign-up:hover{
    cursor: pointer;
    transform: scale(1.1)

}



#msg-div{
    width: 312px;
    height: 56px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    font-size: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


@media (max-height:800px){
    .index-header, .index-header-2{
        margin-top: 24px;
    }
    .index-header-logo{
        height: 100px;
        width: 80px;
    }
    .index-header-div{
        height: 40px;
    }
    .index-header-text{
        font-size: 18px;
    }
    .sign-up-btn{
        height: 40px;
    }
    .log-in{
        height: 420px;
        width: 520px;
        margin-top: 56px;
    }
    .log-in h2, .sign-up h2{
        font-size: 48px;
        margin-top: 32px;
    }
    .index-input{
        height: 40px;
        margin-bottom: 24px;
    }
    .sign-up .index-input{
        margin-bottom: 12px;
    }
    .sign-up .index-input-icon{
        margin-top: 12px;
    }
    .log-in form{
        margin-top: 16px;
        width: 400px;
    }
    .checkbox-container{
        height: 16px;
    }
    .log-in-buttons-div{
        margin-top: 24px;
        height: 40px;
    }
    .index-link-div{
        bottom: 8px;
    }
    .index-link-div a{
        font-size: 14px;
    }

    .sign-up{
        width: 550px;
        height: 510px;
    }
    .sign-up form{
        margin-top: 8px;
    }
    .sign-up-btn-2{
        margin-top: 24px;
    }
}


#sign-up-div-mobile{
    display: none;
}

@media(max-width: 1300px){
    main{
        padding-left: 40px;
    }
}

@media(max-width: 1250px){
    .addTaskColumn{
        width: 32%;
    }
    .form-bottom{
        width: 67%;
    }
}

@media(max-width: 1000px){
    main{
        padding-left: 32px;
    }
}

@media(max-width: 850px) {
    .add-task-form{
        flex-direction: column;
        margin-top: 16px;
    }
    .addTaskBorder{
        display: none;
    }
    h1{
        font-size: 47px;
    }
    #description{
        height: 88px;
        margin-top: 0px;
        margin-bottom: 4px;
    }
    .addTaskColumn{
        width: 60%;
    }
    main{
        padding-left: 40px;
    }
    #category-input{
        display: none;
    }
    #subtasks-input{
        display: none;
    }

    main{
        padding-top: 32px;
    }
    form input {
        margin-top: 4px;
    }
    form select {
        margin-top: 4px;
    }
    .input{
        margin-bottom: 4px;
    }
    .prio-btns{
        margin-top: 4px;
    }
    label {
        margin-bottom: 4px;
    }
    .form-bottom{
        width: 57%;
        align-items: center;
    }

}

@media(max-width: 750px){
    .clear-btn{
        display: none !important;
    }
    .create-task-btn{
        width: 183px;
    
    }
    .form-btns-div{
        width: 183px;
    }
    .addTaskColumn{
        width: 55%;
    }
    .form-bottom{
        width: 51%;
        
    }

}

@media(max-width:600px){
    main{
        left: 0;
        padding-left: 24px;
    }

    #signed-up-div{
        display: none;
    }
    #sign-up-div-mobile{
        display: block;
        margin-top: 32px;
    }
    .index-header-logo{
        width:64px;
        height: 78px;
    }
    .index-header{
        padding-left: 40px;
    }
    .log-in, .sign-up{
        width: 100%;
    }
    .sign-up{
        height: 540px;
    }
    .index-input{
        height: 48px;
    }
    .log-in form, .sign-up form{
        width: 80%;
    }
    .log-in-buttons-div{
        width: 75%;
    }

    .info-main{
        position: fixed;
        top: 88px;
        left: 0px;
        padding-top: 32px; 
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
        height: calc(100vh - 88px);
        overflow: auto;
        padding-bottom: 96px;
    }
    .addTaskColumn{
        width: 90%;
    }
    .form-bottom{
        width: 83%;
        bottom: 104px;
    }
}

@media(max-width: 500px){
    .log-in{
        height: 460px;
        margin-top: 40px;
    }
    .log-in h2, .sign-up h2{
        font-size: 47px;
        margin-top: 24px;
    }
    .sign-up{
        height: 500px;
    }

    .log-in-buttons-div{
       flex-direction: column;
       width: 100%;
       height: 100px;
       align-items: center;
    }
    .log-in-btn{
        width: 180px;
        margin-bottom: 8px;
        height: 51px;
    }
    .guest-log-in-btn{
        width: 180px;
        height: 51px;
    }
    .log-in-underline{
        margin-top: 16px;
        margin-bottom: 8px;
    }
    .index-header-text{
        font-size: 16px;
    }
   
}

@media(max-width: 400px){
    .log-in-buttons-div{
        margin-top: 8px;
     }
     .return-img-sign-up{
        left: 32px;
     }
}


.hidden{
    opacity: 0;
    transition: all 125ms ease;
}

.initial-logo-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.initial-index-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
    height: 334px;
    transition: all 2s ease;
}

@media(max-width:480px){
    .initial-logo-div{
        background-color: rgba(42, 54, 71, 1);
    }
    .initial-index-logo{
        height: 121.97px;
        width: 100.03px;
    }
}


@media(max-width: 600px) and (max-height: 800px){
    header{
        height: 80px;
    }
    main{
        top: 80px;
        padding-top: 16px;
    }
    .mobile-menu{
        height: 72px;
    }
    .mobile-menu-div{
        height: 68px;
    }
    #description{
        height: 64px;
        padding: 8px 16px 8px 16px;
    }
    .input-container{
        height: 40px;
    }
    .input{
        margin-bottom: 2px;
    }
    .form-bottom{
        bottom: 88px;
    }
}


.summary-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 64px;
}

.summary-header-bar{
    height: 64px;
    width: 1px;
    border: 2px solid rgba(41, 171, 226, 1);
    margin-left: 48px;
    margin-right: 48px;
}

.summary-subtitle{
    font-size: 27px;
}

.summary-main{
    display: flex;
    align-items: center;
    margin-top: 56px;
}

.summary-infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: 562px;
    width: 560px;
    background-color: rgb(246, 247, 248);
}

.summary-info-row{
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 247, 248);
}


.summary-info-box-row-1{
    background-color: white;
    width: 264px;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    
    
}




.summary-info-box-row-2{
    background-color: white;
    width: 560px;
    height: 168px;
    border-radius: 24px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.summary-row-2-bar{
    width: 0px;
    height: 120px;
    border: 1px solid rgba(209, 209, 209, 1);
    margin-left: 64px;
    margin-right: 64px;
}

.summary-row-2-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary-row-2-date{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 8px;
}

.summary-row-2-subtitle{
    font-size: 16px;
    font-weight: 400;
}

.summary-info-box-row-3{
    background-color: white;
    width: 168px;
    height: 168px;
    border-radius: 24px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.summary-row-info{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.summary-digit{
    font-size: 64px;
    font-weight: 600;
}

.summary-description{
    font-size: 20px;
    text-align: center;
}

.summary-row-2-description{
    font-size: 16px;
}

.summary-icon{
    width: 69px;
    height: 69px;
    margin-right: 16px;
}

.summary-icon-row-2{
    height: 60px;
    width: 60px;
    margin-right: 16px;

}

.summary-info-box-row-3 .summary-row-info{
    padding: 25px 16px 25px 16px;
}


.summary-greeting{
    width: 385px;
    height: 136px;
    margin-left: 80px;
}
    
.greeting-daytime{
    font-size: 47px;
    font-weight: 500;
}
    
.greeting-name{
    font-size: 64px;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}

.summary-greeting-mobile{
    opacity: 0;
    position: fixed;
    top: 96px;
    left: 232px;
    height: calc(100vh - 96px);
    width: calc(100vw - 232px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgb(246, 247, 248);
    transition: all 1s ease;
}

.summary-header-bar-mobile{
    display: none;
    height: 1px;
    width: 80px;
    border: 2px solid rgba(41, 171, 226, 1);
    margin-top: 10px;

}


@media(max-height: 800px){
    .summary-greeting-mobile{
        top: 88px;
        height: calc(100vh - 88px);
    }
    .summary-header{
        height: 54px;
    }
    .summary-header-bar{
        height: 54px;
    }
    .summary-infos {
        height: 450px;
        width: 550px;
    }
    .summary-info-box-row-1{
        height: 130px;
    }
    .summary-info-box-row-2{
        height: 130px;
    }
    .summary-info-box-row-3{
        height: 130px;
    }
    .summary-row-2-bar{
        height: 100px;
    }
    .summary-digit{
        font-size: 56px;
    }
    .summary-description{
        font-size: 18px;
    }
    .summary-icon{
        width: 60px;
        height: 60px;
    }
    .summary-icon-row-2{
        width: 56px;
        height: 56px;
    }
    .greeting-daytime{
        font-size: 40px;
    }
    .greeting-name{
        font-size: 56px;
    }

}



@media(max-width: 1250px){
    .summary-greeting{
        width: 25%;
        margin-left: 40px;
    }
}

@media(max-width: 1050px){
    .summary-greeting{
        display: none;
    }
    .summary-greeting-mobile{
        opacity: 1;
    }
}


@media(max-width: 900px){
    .summary-header-bar{
        margin-left: 32px;
        margin-right: 32px;
    }
    .summary-subtitle{
        font-size: 20px;
    }

    .summary-infos{
        width: calc(90vw - 232px);
    }
    .summary-info-box-row-1{
        width: 45%;
    }
    .summary-info-box-row-2{
        width: 100%;
    }
    .summary-info-box-row-3{
        width: 30%;
    }
    .summary-row-2-bar{
        margin-left: 32px;
        margin-right: 32px;
    }

}


@media(max-width: 775px){
    .summary-header-bar{
        margin-left: 16px;
        margin-right: 16px;
    }
    .summary-subtitle{
        font-size: 18px;
    }
    .summary-digit{
        font-size: 48px;
    }
    .summary-description{
        font-size: 16px;
    }
}

@media(max-width: 720px){
    .summary-header{
        flex-direction: column;
        align-items: flex-start;
    }
    .summary-header-bar{
        display: none;
    }
    .summary-subtitle{
        margin-top: 4px;
    }
    .summary-header-bar-mobile{
        display: block;
    }
    .summary-row-2-bar{
        margin-left: 16px;
        margin-right: 16px;
    }

}


@media(max-width: 600px){
    .summary-infos{
        width: 90vw;
        height: 384px;
        margin-top: 8px;
    }
    .summary-header{
        margin-top: 16px;
    }
    .summary-info-box-row-1{
        height: 110px;
    }
    .summary-info-box-row-2{
        height: 110px;
    }
    .summary-info-box-row-3{
        height: 110px;
    }
}

@media(max-width: 400px){
    .summary-digit{
        font-size: 40px;
    }
    .summary-description{
        font-size: 16px;
    }
    .summary-icon{
        height: 50px;
        width: 50px;
    }
    .summary-icon-row-2{
        height: 48px;
        width: 48px;
        margin-right: 8px;
    }
}


.main-contacts{
    display: flex;
    width: 100vw;
    position: fixed;
    top: 96px;
    left: 232px;
    background-color: rgb(246, 247, 248);

}

.contacts-display-div{
    display: flex;
    flex-direction: column;
    width: 456px;
    height: 100vh;
    background-color: white;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    overflow: auto;
    align-items: center;
}

.contact-display{
    display: flex;
    flex-direction: column;
}

.contacts-display-header{
    display: flex;
    align-items: center;
    margin-left: 64px; 
    margin-top: 80px;
}

.contacts-header-bar{
    border: 2px solid rgba(41, 171, 226, 1);
    height: 59px;
    width: 1px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 15px;

}

.contacts-header-span{
    font-size: 27px;
}

.add-contact-btn{
    background: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    height: 56px;
    width: 352px;
    font-weight: 700;
    font-size: 21px;
    border-radius: 15px;
    margin-top: 24px;
    transition: all 125ms;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

}

.add-contact-btn:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
 
}

.add-contact-icon{
    margin-left: 8px;
}


.contacts-group{
    width: 352px;
}

.contacts-group-letter{
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    margin-bottom: 8px;
}

.contacts-display-small{
    display: flex;
    transition: all 125ms;
    border-radius: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;
}

.contacts-display-small:hover{
    cursor: pointer;
    background-color:  rgb(246, 247, 248);
}

.contacts-display-info{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.contact-name-sm{
    font-size: 20px;
}

.contact-mail-sm{
    font-size: 16px;
    color: rgba(0, 124, 238, 1);

}

.initials-div{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    border: 2px solid white;
}

.active-contact-sm{
    background-color: rgba(42, 54, 71, 1);
    color: white;
}

.active-contact-sm{
    cursor: pointer;
    background-color: rgba(42, 54, 71, 1) !important;
    color: white;
}


.add-contact-modal-bg{
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.add-contact-modal{
    height: 592px;
    width: 1212px;
    display: flex;
}

.add-contact-modal-left{
    height: 100%;
    width: 467px;
    background-color: rgba(42, 54, 71, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 48px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.modal-bar{
    height: 0;
    width: 90px;
    border: 2px solid rgba(41, 171, 226, 1);
    border-radius: 16px;
    margin-bottom: 40px; 
    margin-top: 8px;
}

.add-contact-modal-title{
    font-size: 61px;
    font-weight: 700;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;

}

.add-contact-team{
    font-size: 27px;
    color: white;
    margin-bottom: 8px;;
}

.add-contact-modal-right{
    height: 100%;
    width: 745px;
    background-color: white;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;

}

.display-none{
    display: none;
}


.add-contact-modal-rh{
    display: flex;
    justify-content: flex-end;
    padding-left: 24px;
    padding-right: 40px;
    margin-top: 40px;
}

.add-contact-form-div{
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.add-contact-form{
    width: 422px;
}

.new-contact-img{
    height: 120px;
    width: 120px;
    margin-right: 72px;
    margin-top: 48px;
}

.add-contact-icon{
    width: 24px;
    height: 24px;
}

.add-contact-form-btns{
    display: flex;
    margin-top: 32px;
}

.cancel-contact-btn{
    width: 126px;
    color: rgba(42, 54, 71, 1);
    font-size: 20px;
    border: 1px solid rgba(42, 54, 71, 1);
    background-color: white;
}

.create-contact-btn{
    font-size: 21px;
    font-weight: 700;
    width: 214px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border: unset;
    margin-left: 24px;
}


.btn-icon{
    margin-left: 4px;
}

.add-contact-form-btns button{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 75ms ease;
    border-radius: 16px;
}

.cancel-contact-btn:hover{
    cursor: pointer;
    border: 2px solid rgba(41, 171, 226, 1);
    color: rgba(41, 171, 226, 1);
}

.create-contact-btn:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}

.close-contact-modal-icon{
    cursor: pointer;
}