

.main-contacts{
    display: flex;
    width: 100%;
    position: fixed;
    top: 96px;
    left: 232px;
    background-color: rgb(246, 247, 248);
}

.contacts-display-div{
    display: flex;
    flex-direction: column;
    width: 456px;
    height: calc(100vh - 96px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    align-items: center;
}

#contacts-display-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.contact-display{
    display: flex !important;
    flex-direction: column !important;
    margin-right: 32px !important;
}

.contacts-display-header{
    display: flex;
    align-items: center;
    margin-left: 64px; 
    margin-top: 80px;
}

.contacts-header-bar{
    border: 2px solid rgba(41, 171, 226, 1);
    height: 59px;
    width: 1px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 15px;

}

.contacts-header-span{
    font-size: 27px;
}

.add-contact-btn{
    background: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    height: 56px;
    width: 352px;
    font-weight: 700;
    font-size: 21px;
    border-radius: 15px;
    margin-top: 24px;
    transition: all 125ms;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    flex-shrink: 0;

}

.add-contact-btn:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
 
}

.add-contact-icon{
    margin-left: 8px;
}


.contacts-group{
    width: 352px;
}

.contacts-group-letter{
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    margin-bottom: 8px;
}

.contacts-display-small{
    width: 100%;
    display: flex;
    transition: all 125ms;
    border-radius: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;
}

.contacts-display-small:hover{
    cursor: pointer;
    background-color:  rgb(246, 247, 248);
}

.contacts-display-info{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.contact-name-sm{
    font-size: 20px;
}

.contact-mail-sm{
    font-size: 16px;
    color: rgba(0, 124, 238, 1);

}

.initials-div{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    border: 2px solid white;
}

.active-contact-sm{
    background-color: rgba(42, 54, 71, 1);
    color: white;
}

.active-contact-sm{
    cursor: pointer;
    background-color: rgba(42, 54, 71, 1) !important;
    color: white;
}




.contact-display-body{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 32px;
    
}





.add-contact-btn-mobile{
    opacity: 0;
    height: 56px;
    width: 56px;
    position: fixed;
    bottom: 120px;
    right: 20px;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 125ms ease;
    border: unset;
}

.add-contact-btn-mobile:hover{
    cursor: pointer;
    background-color: #29ABE2;
}

.return-arrow-contacts-mobile{
    display: none;
    position: fixed;
    top: 190px;
    right: 40px;
}



@media(max-height: 800px){
    .main-contacts{
        top: 88px;
        height: 100vh;
    }
    #contacts-display-bar{
        height: 100vh;
    }
}


@media(max-width: 1320px){
    .contacts-display-div{
        width: 400px;
    }
    .contacts-display-header{
        margin-left: 24px;
    }
    .contact-display-body{
        margin-left: 56px;
    }
    
}


@media(max-width:1200px) AND (min-width: 1050px){
    .scd-initials{
        height: 80px !important;
        width: 80px !important;
        font-size: 27px !important;
        font-weight: 400 !important;
    }
    .scd-name{
        font-size: 36px !important;
        /* font-weight: 700 !important; */
    }
}

@media(max-width:800px) AND (min-width: 600px){
    .scd-initials{
        height: 80px !important;
        width: 80px !important;
        font-size: 27px !important;
        font-weight: 400 !important;
    }
    .scd-name{
        font-size: 36px !important;
        /* font-weight: 700 !important; */
    }
}



@media(max-width: 1230px){
    .contacts-display-header{
        flex-direction: column;
        align-items: flex-start;
    }
    h1{
        font-size: 47px;
    }
    .contacts-header-span{
        font-size: 20px;
        margin-top: 8px;
    }
    #c-header-bar-desktop{
        display: none;
    }

    #c-header-bar-mobile{
        width: 90px;
        height: 1px;
        display: block;
        margin-left: 0;
        margin-top: 16px;
    }
   
  
    .contact-display-body{
        margin-left: 24px;
    }
    .single-contact-display-body{
        margin-top: 16px;
    }
    .scd-initials{
        margin-right: 16px;
    }
    .add-contact-modal, .edit-contact-modal{
        flex-direction: column;
        height: 80% !important;
        width: 80% !important;
    }
    .add-contact-modal-left{
        height:50%;
        width: 100% !important;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        border-bottom-left-radius: 0;
        justify-content: flex-start;
    }
    .add-contact-modal-right{
        height: 50%;
        width: 100% !important;
        border-bottom-left-radius: 32px !important;
        border-bottom-right-radius: 32px !important;
        border-top-right-radius: 0 !important;
    }
    .add-contact-modal-logo{
        display: none !important;
    }
    .add-contact-modal-lh{
        opacity: 1 !important;
    }
    .add-contact-modal-rh{
        display: none !important;
    }
    .add-contact-form-div{
        margin-top: 16px !important;
    }
    .add-contact-form-btns{
        margin-top: 0 !important;
    }
    /* .cancel-contact-btn{
        height: 40px !important;
    }
    .create-contact-btn{
        height: 40px !important;
    } */

}


@media(max-width: 1080px){
    .return-arrow-contacts-mobile{
        display: block;
    }
    .contact-display{
        height: 100vh;
        display: none;
    }
    .contacts-display-div{
        width: calc(100vw - 232px);
        align-items: flex-start;
        padding-left: 24px;
    }
    #contacts-display-bar{
        align-items: flex-start;
    }
}

@media(max-width: 630px){
    .contacts-display-div{
        padding-left: 8px;
    }
}


@media(max-width: 800px){
    .new-contact-img{
        display: none;
    }
}

@media(max-width: 600px){
    .add-contact-modal-title{
        font-size: 47px;
    }
    .contacts-display-div{
        height: calc(100vh - 155px) !important;
        padding-left: 8px;
    }
    #contacts-display-bar{
        margin-top: 32px;
        align-items: center;
        width: 100%;
    }
    .contacts-group{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #add-contact-btn{
        display: none;
    }
    .main-contacts{
        left: 0;
        top: 80px;
    }
    .contacts-display-div{
        width: 100vw ;
    }
    /* .scd-options-mobile-div{
        opacity: 1;
    } */
    .scd-options-div{
        display: none;
    }
    .add-contact-btn-mobile{
        opacity: 1;
    }
    .add-contact-modal{
        height: 100vh;
        width: 100vw;
    }
    .add-contact-modal-left{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-left: 24px;
    }
    .add-contact-modal-right{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .add-contact-modal-lh{
        margin-bottom: 80px;
    }
   .add-contact-input{
    height: 41px;
   }
   .cancel-contact-btn{
    height: 51px;
 
   }
   .create-contact-btn{
    height: 51px;
    
   }
   .add-contact-form-btns{
    margin-top: 8px;
    }
}

@media(max-width: 400px){
    .contacts-group{
        width: 100%;
        padding-right: 16px;
    }
    #cancel-or-delete-btn{
        display: none;
    }
}


#contact-added-confirmation{
    background: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    height: 74px;
    width: 326px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    right: -400px; 
    transform: translateY(-50%);
    transition: right 0.5s ease; 
}

#contact-added-confirmation.show {
    right: 35%; 
    transform: translate(50%, -50%);
}   


@media(max-width: 1230px){
    .contacts-display-header{
        flex-direction: column;
        align-items: flex-start;
    }
    h1{
        font-size: 47px;
    }
    .contacts-header-span{
        font-size: 20px;
        margin-top: 8px;
    }
    #c-header-bar-desktop{
        display: none;
    }

    #c-header-bar-mobile{
        width: 90px;
        height: 1px;
        display: block !important;
        margin-left: 0;
        margin-top: 16px;
    }
    .scd-initials{
        height: 80px;
        width: 80px;
        font-size: 27px;
        font-weight: 400;
    }
    .scd-name{
        font-size: 36px;
        font-weight: 700;
    }
  
    .contact-display-body{
        margin-left: 24px;
    }
    .single-contact-display-body{
        margin-top: 16px;
    }
    .scd-initials{
        margin-right: 16px;
    }
    .add-contact-modal{
        flex-direction: column;
        height: 80%;
        width: 80%;
    }
    .add-contact-modal-left{
        height:50%;
        width: 100%;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        border-bottom-left-radius: 0;
        justify-content: flex-start;
    }
    .add-contact-modal-right{
        height: 50%;
        width: 100%;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0;
    }
    .add-contact-modal-logo{
        display: none;
    }
    .add-contact-modal-lh{
        opacity: 1;
    }
    .add-contact-modal-rh{
        display: none;
    }
    .add-contact-form-div{
        margin-top: 16px;
    }
    .add-contact-form-btns{
        margin-top: 0;
    }
    .cancel-contact-btn{
        height: 40px;
    }
    .create-contact-btn{
        height: 40px;
    }

}
