.add-task-modal-bg{
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.add-task-modal{
    width: 1116px;
    height: 870px;
    border-radius: 30px;
    background-color: white;
    padding: 64px;
    z-index: 599;
    
}


.add-task-modal-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.close-task-form-icon{
    height: 32px;
    width: 32px;
}

.close-task-form-icon:hover{
    cursor: pointer;
}

.add-task-modal *{
    border-radius: 12px;
}