.sign-up-modal{
    width: 312px;
    height: 74px;
    background: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    height: 74px;
    width: 326px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20%;
    right: 41%; 
    /* transform: translateX(20%);  */
}