.sign-up-modal{

    padding: 16px;
    height: 74px;
    background: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    height: 74px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20%;
    left: 50%; 
    transform: translateX(-50%); 
}