<div class="sidebar">
    <img class="sidebar-logo" src="assets/img/logo_light.png">
    <div class="sidebar-menu" id="sidebar-menu">
        <a href="summary.html" class="sidebar-menu-div summary-div">
            <img class="sidebar-icon" src="assets/img/vector1.png" data-original-src="assets/img/vector1.png" >
            <span>Summary</span>
        </a>
        <a href="add_task.html" class="sidebar-menu-div add-task-div">
            <img class="sidebar-icon" src="assets/img/edit_square.png" data-original-src="assets/img/edit_square.png">
            <span>Add Task</span>
        </a>
        <a href="board.html" class="sidebar-menu-div board-div">
            <img class="sidebar-icon" src="assets/img/Vector.png" data-original-src="assets/img/Vector.png">
            <span>Board</span>
        </a>
        <a href="contacts.html" class="sidebar-menu-div contacts-div">
            <img class="sidebar-icon" src="assets/img/perm_contact_calendar.png" data-original-src="assets/img/perm_contact_calendar.png">
            <span>Contacts</span>
        </a>
    </div> 

    <div class="sidebar-menu-2">
        <div class="sidebar-2-div">
            <a href="privacy_policy.html" target="_blank" onclick="saveCurrentPage()">Privacy Policy</a>
            <a href="legal_notice.html" target="_blank" onclick="saveCurrentPage()">Legal notices</a>
        </div>
    </div>
</div>


<header>
    <span class="header-title">Kanban Project Management Tool</span>
    <img src="assets/img/logo_dark.png" class="header-logo-mobile">
    <div class="header-icons">
        <img class="help-icon" src="assets/img/help.png" onclick="redirectTo('help.html')">
        <div class="user-initials" id="user-initials" onclick="openUserMenu()"></div>
    </div>
</header>

<div class="user-menu-bg d-none" id="user-menu" onclick="closeUserMenu()">
    <div class="user-menu">
        <a href="legal_notice.html" target="_blank" onclick="saveCurrentPage()">Legal Notice</a>
        <a href="privacy_policy.html" target="_blank" onclick="saveCurrentPage()">Privacy Policy</a>
        <a href="index.html" onclick="logOut()" id="user-menu-log-out">Log out</a>
    </div>
</div>


<div class="mobile-menu" id="mobile-menu">
    <a href="summary.html" class="mobile-menu-div summary-div">
        <img class="mobile-menu-icon" src="assets/img/vector1.png" data-original-src="assets/img/perm_contact_calendar.png">
        <span>Summary</span>
    </a>
    <a href="board.html" class="mobile-menu-div board-div">
        <img class="mobile-menu-icon" src="assets/img/Vector.png" data-original-src="assets/img/Vector.png">
        <span>Board</span>
    </a>
    <a href="add_task.html" class="mobile-menu-div add-task-div">
        <img class="mobile-menu-icon" src="assets/img/edit_square.png" data-original-src="assets/img/edit_square.png">
        <span>Add Task</span>
    </a>
    <a href="contacts.html" class="mobile-menu-div contacts-div">
        <img class="mobile-menu-icon" src="assets/img/perm_contact_calendar.png" data-original-src="assets/img/perm_contact_calendar.png">
        <span>Contacts</span>
    </a>
</div>