
.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 54, 71);
    height: 100vh;
    width: 232px ;
    z-index: 10;
    border-radius: unset;
}

.sidebar-logo{
    width: 100.03px;
    height: 121.97px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.sidebar-icon{
    height: 25px;
    width: 25px;
    margin-right: 8px;
    margin-left: 48px;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 64px;
}

.sidebar-menu-div{
    display: flex;
    align-items: center;
    height: 46px;
    width: 100%;
    color: rgb(205, 205, 205);
    transition: all 125ms;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.sidebar-menu-div:hover{
    cursor: pointer;
    background-color: rgb(9, 25, 49);
}

.sidebar-menu-div.active{
    background-color: rgb(9, 25, 49);
    color: white;
}

.side-menu-div.active .sidebar-icon{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(103%) contrast(101%);
}

.sidebar-menu-2{
    width: 100%;
    align-items: flex-start;
    gap: 4px;
    margin-top: 283px;
}

.sidebar-menu-2 a{
    color: rgb(168, 168, 168);
    font-size: 14px;
    padding: 8px 0 8px 0;
}

.sidebar-menu-2 a:hover{
    cursor: pointer;
    font-weight: bold;
    color: rgba(41, 171, 226, 1);
}

.sidebar-2-div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 56px;
}


@media(max-width: 600px){
    .sidebar{
        display: none;
    }
    .header-title{
        display: none;
    }
    .header-logo-mobile{
        display: block;
    }
    header{
        padding: 20px 16px 20px 16px;
        height: 80px;
    }
    .user-menu{
        top: 80px;
    }
    .help-icon{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    main{
        top: 80px;
        right: 0;
        width: 100vw;
        height: calc(100vh - 140px);
    }
}