.task-display-large{
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    width: 525px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 32px;
    overflow-y: auto;
    z-index: 300;
}

/* #tdl-modal{
    transform: translateX(300%);
    transition: transform 150ms ease;
} */

#tdl-modal.show{
    transform: translateX(0);
}

.large-task-display-header{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
}

.large-task-category{
    color: white;
    background-color: #1FD7C1;
    border-radius: 8px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding: 0 24px;

}

.large-task-close-icon{
    width: 32px;
    height: 32px;
}

.large-task-close-icon:hover{
    cursor: pointer;
}

.large-task-title{
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.large-task-description{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.large-task-info-table {
    width: 70%; 
    border-collapse: collapse; 
    margin-bottom: 4px;
}

.large-task-info-table td{
    padding: 4px 0;
}

.large-task-info-description{
    font-size: 20px;
    color: rgba(66, 82, 110, 1);
    width: 50%;
    
}

.large-task-info-content{
    font-size: 19px;
    color: rgba(0, 0, 0, 1);
    width: 70%;
    display: flex;
    align-items: center;
}

.large-task-contacts-display{
    margin-top: 12px;
    margin-bottom: 12px;
}

.large-task-contact-div{
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 12px;
}

.large-task-contact-initials{
    color: white;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    font-size: 12px;
    margin-right: 24px;
}

.large-task-subtasks-display{
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 8px;
}

.large-task-subtask-div{
    
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.subtask-checkbox{
    margin-right: 16px;
}

.subtask-checkbox:hover{
    cursor: pointer;
}

.large-task-display-footer{
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}

.large-task-btn-seperator{
    height: 24px;
    width: 0px;
    border: 1px solid rgba(209, 209, 209, 1);
    margin-left: 8px;
    margin-right: 8px;
    
}

.task-footer-btn-icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.large-task-button{
    border: unset;
    background-color: white;
    display: flex;
    align-items: center;
}

.large-task-button:hover{
    cursor: pointer;
    font-weight: bold;
    color: #29ABE2;
}

.large-task-button:hover img{
    filter: brightness(0) saturate(100%) invert(56%) sepia(91%) saturate(1445%) hue-rotate(165deg) brightness(95%) contrast(85%);
}

.board-task-category-us{
    background-color: #1FD7C1;
}

.board-task-category-tt{
    background-color: #0038FF !important;
}


.large-prio-icon{
    margin-right: 8px;
}