@font-face {
    font-family: 'Inter';
    src: url('../public/assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }

  #portal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    z-index: 200;
}

#portal:empty{
    display: none;
}

main{
    position: fixed;
    top: 96px;
    left: 232px;
    padding-top: 110px; 
    padding-left: 96px;
    /* padding-bottom: 120px; */
    background-color: rgb(246, 247, 248);
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    /* overflow-y: auto; */
}

main * {
    border-radius: 10px;
}

.info-main{
    position: fixed;
    top: 96px;
    left: 232px;
    padding-top: 64px; 
    padding-left: 96px;
    padding-right: 40px;
    padding-bottom: 64px;
    background-color: rgb(246, 247, 248);
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    overflow-y: auto;
}

h2{
    margin-bottom: 8px;
    margin-top: 24px;
}

.info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 24px;
}

h1{
    font-weight: 700;
    font-size: 61px;
}

h2{
    margin-top: 24px;
}

.blue{
    color:rgba(41, 171, 226, 1);
}


@media(max-height: 800px){
    header{
        height: 88px;
    }
    main{
        height: calc(100vh - 88px);
    }
}


::-webkit-scrollbar {
    width: 0.6vw;
    color: rgb(7, 7, 31);
    
  }

  ::-webkit-scrollbar-track {
    background: rgb(246, 247, 248);
  }

  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 16px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.help-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;
}

.help-table td{
    vertical-align: top;
    padding: 10px;
}

.help-table td:first-child {
    padding-right: 20px;
}

.help-table h2, .help-table h3, .help-table span {
    margin: 0;
}

.help-table h2 {
    margin-bottom: 10px;
}


.index-main{
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 247, 248);
    transition: all 125ms ease;
    overflow: hidden;
}

#main-content{
    transition: all 125ms ease;
}


@media(max-width: 1300px){
    main{
        padding-left: 40px;
    }
}

@media(max-width: 1000px){
    main{
        padding-left: 32px;
    }
}


@media(max-width:600px){
    main{
        left: 0;
        padding-left: 24px;
    }

    #signed-up-div{
        display: none;
    }
    #sign-up-div-mobile{
        display: block;
        margin-top: 32px;
        }
    .index-header-logo{
        width:64px !important;
        height: 78px !important;
    }
    .index-header{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .log-in, .sign-up{
        width: 100% !important;
    }
    .sign-up{
        height: 570px !important;
    }
    .index-input{
        height: 48px;
    }
    .log-in form, .sign-up form{
        width: 80%;
    }
    .log-in-buttons-div{
        width: 75%;
    }

    form{
        width: 90% !important;
    }
  

    .info-main{
        position: fixed ;
        top: 80px !important;
        left: 0px ;
        padding-top: 32px; 
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
        height: calc(100vh - 88px);
        overflow: auto;
        padding-bottom: 96px;
    }
    .addTaskColumn{
        width: 90%;
    }
    .form-bottom{
        width: 83%;
        bottom: 104px;
    }
}

@media(max-width: 1100px){
    .info-main{
        padding-left: 40px;
    }
}


.hidden{
    opacity: 0;
    transition: all 125ms ease;
}

@media(max-width: 600px) and (max-height: 800px){
    header{
        height: 80px !important;
    }
    main{
        top: 80px !important;
        padding-top: 16px;
    }
    .mobile-menu{
        height: 72px;
    }
    .mobile-menu-div{
        height: 68px;
    }
    #description{
        height: 64px;
        padding: 8px 16px 8px 16px;
    }
    .input-container{
        height: 40px;
    }
    .input{
        margin-bottom: 2px;
    }
    .form-bottom{
        bottom: 88px;
    }
}

.d-none{
    display: none;
}



.task-display-large .input-container .radio-tile label {
   margin-bottom: 16px;
}


@media (max-width: 500px) and (max-height: 750px) {
    .task-display-large{
        height: 100vh;
        border-radius: 0;
    }
    
    .contacts-display-header{
        margin-top: 40px;
    }
    .large-task-display-footer{
        margin-top: 0;
    }
    .task-display-large{
        padding-bottom: 8px;
    }
}


@media (max-height:800px){
    .index-header, .index-header-2{
        margin-top: 24px;
    }
    .index-header-logo{
        height: 100px;
        width: 80px;
    }
    .index-header-div{
        height: 40px;
    }
    .index-header-text{
        font-size: 18px;
    }
    .sign-up-btn{
        height: 40px !important;
    }
    .log-in{
        height: 420px;
        width: 520px;
        margin-top: 56px;
    }
    .log-in h2, .sign-up h2{
        font-size: 48px !important;
        margin-top: 32px !important;
    }
    .index-input{
        height: 40px;
        margin-bottom: 24px;
    }
    .sign-up .index-input{
        margin-bottom: 12px !important;
    }
    .sign-up .index-input-icon{
        margin-top: 12px !important;
    }
    .log-in form{
        margin-top: 16px !important;
        width: 400px !important;
    }
    .checkbox-container{
        height: 16px !important;
    }
    .log-in-buttons-div{
        margin-top: 24px !important;
        height: 40px !important;
    }
    .index-link-div{
        bottom: 8px;
    }
    .index-link-div a{
        font-size: 14px !important;
    }

    /* .sign-up{
        width: 550px !important;
        height: 510px !important;
    } */
    .sign-up form{
        margin-top: 8px !important;
    }
    .sign-up-btn-2{
        margin-top: 24px;
    }
}


#sign-up-div-mobile{
    display: none;
}


@media(max-width: 500px){
    .log-in{
        height: 460px;
        margin-top: 40px;
    }
    .log-in h2, .sign-up h2{
        font-size: 47px !important;
        margin-top: 24px !important;
    }
    /* .sign-up{
        height: 500px !important;
    } */

    .log-in-buttons-div{
       flex-direction: column;
       width: 100%;
       height: 100px !important;
       align-items: center;
    }
    .log-in-btn{
        width: 180px;
        margin-bottom: 8px;
        height: 51px !important;
    }
    .guest-log-in-btn{
        width: 180px;
        height: 51px;
    }
    .log-in-underline{
        margin-top: 16px;
        margin-bottom: 8px;
    }
    .index-header-text{
        font-size: 16px;
    }
    #sign-up-div-mobile{
     
        margin-top: 16px;
    }
   
}

@media(max-width: 400px){
    .log-in-buttons-div{
        margin-top: 8px;
     }
     .return-img-sign-up{
        left: 32px;
     }
}

@media(max-height: 700px){
    .log-in input, button{
        height: 40px;
    }
    .log-in{
        height: 410px;
    }
    .sign-up-btn-2{
        margin-top: 8px;
    }
    /* .sign-up{
        height: 480px;

    } */
}