*{
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}



main{
    position: fixed;
    top: 96px;
    left: 232px;
    padding-top: 110px; 
    padding-left: 96px;
    /* padding-bottom: 120px; */
    background-color: rgb(246, 247, 248);
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    /* overflow-y: auto; */
}

#board-main{
    overflow-y: auto;
}

main * {
    border-radius: 10px;
}


.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 54, 71);
    height: 100vh;
    width: 232px ;
    z-index: 10;
    border-radius: unset;
}

.sidebar-logo{
    width: 100.03px;
    height: 121.97px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.sidebar-icon{
    height: 25px;
    width: 25px;
    margin-right: 8px;
    margin-left: 48px;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 64px;
}

.sidebar-menu-div{
    display: flex;
    align-items: center;
    height: 46px;
    width: 100%;
    color: rgb(205, 205, 205);
    transition: all 125ms;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.sidebar-menu-div:hover{
    cursor: pointer;
    background-color: rgb(9, 25, 49);
}

.active-link{
    background-color: rgb(9, 25, 49);
    color: white;
}

.sidebar-menu-2{
    width: 100%;
    align-items: flex-start;
    gap: 4px;
    margin-top: 283px;
}

.sidebar-menu-2 a{
    color: rgb(168, 168, 168);
    font-size: 14px;
    padding: 8px 0 8px 0;
}

.sidebar-menu-2 a:hover{
    cursor: pointer;
    font-weight: bold;
    color: rgba(41, 171, 226, 1);
}

.sidebar-2-div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 56px;
}


header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 40px 20px 348px;
    gap: 0px;
    z-index: 5;
    border-radius: unset;
}

.header-title{
    font-size: 20px;
    font-weight: 400;
}

.header-icons{
    display: flex;
    align-items: center;
    gap: 16px;
}

.help-icon{
    height: 20px;
    width: 20px;
    margin-right: 8px;
    transition: transform 100ms;
}

.help-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.user-initials{
    width: 48px;
    height: 48px;
    border: 3px solid rgba(42, 54, 71, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(41, 171, 226, 1);
    font-weight: bold;
    font-size: 20px;
}

.user-initials:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}


.user-menu{
    position: absolute;
    top: 96px;
    right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(42, 54, 71, 1);
    width: 158px;
    height: 164px;
    padding: 10px;
    gap: 8px;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 25;
}

.scd-options-menu{
    position: absolute;
    bottom: 110px;
    right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 116px;
    height: 100px;
    padding: 10px;
    gap: 8px;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 25;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 125ms ease;

}

.user-menu a{
    color: rgb(205, 205, 205);
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    
}

.user-menu a:hover{
    cursor: pointer;
    background-color: rgba(42,61,89,255);
}

.user-menu-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 20;
}

.d-none{
    display: none;
}

.header-logo-mobile{
    display: none;
    width: 32px;
    height: 39.02px;
}


.mobile-menu{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 16px;
    background-color: rgb(42, 54, 71);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    z-index: 10;
}


.mobile-menu-div{
    padding: 15px 1px 15px 1px;
    color: rgb(205, 205, 205);
    font-size: 14px;
    line-height: 16.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;   
    border-radius: 15px;
    width: 76px;
    height: 76px;
}

.mobile-menu-icon{
    width: 24px;
    height: 24px;
}

.mobile-menu-div:hover{
    cursor: pointer;
    background-color: rgb(9, 25, 49);
}



@media(min-width: 601px){
    .mobile-menu{
        display: none !important;
    }
    main{
        top: 96px;
        right: 232px;
    }
  
}


@media(max-width: 768px){
    header{
        padding: 20px 40px 20px 260px;
    }
}

@media(max-width: 600px){
    .sidebar{
        display: none;
    }
    .header-title{
        display: none;
    }
    .header-logo-mobile{
        display: block;
    }
    header{
        padding: 20px 16px 20px 16px;
        height: 80px;
    }
    .user-menu{
        top: 80px;
    }
    .help-icon{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    main{
        top: 80px;
        right: 0;
        width: 100vw;
        height: calc(100vh - 140px);
    }
}


h1{
    font-weight: 700;
    font-size: 61px;
}




.info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 24px;
}

.return-img{
    width: 37px;
    height: 37px;
    transition: all 100ms ease;
}

.return-img:hover{
    cursor: pointer;
    transform: scale(1.1)
}

.info-main{
    position: fixed;
    top: 96px;
    left: 232px;
    padding-top: 110px; 
    padding-left: 96px;
    padding-right: 40px;
    padding-bottom: 64px;
    background-color: rgb(246, 247, 248);
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    overflow-y: auto;
    
}

h2{
    margin-top: 24px;
}

.blue{
    color:rgba(41, 171, 226, 1);
}



@media(max-height: 800px){
    header{
        height: 88px;
    }
    main{
        height: calc(100vh - 88px);
    }
}


::-webkit-scrollbar {
    width: 0.6vw;
    color: rgb(7, 7, 31);
    
  }

  ::-webkit-scrollbar-track {
    background: rgb(246, 247, 248);
  }

  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 16px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.help-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;
}

.help-table td{
    vertical-align: top;
    padding: 10px;
}

.help-table td:first-child {
    padding-right: 20px;
}

.help-table h2, .help-table h3, .help-table span {
    margin: 0;
}

.help-table h2 {
    margin-bottom: 10px;
}


.index-main{
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 247, 248);
    transition: all 125ms ease;
}

#main-content{
    transition: all 125ms ease;
}

.index-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 77px;
    padding-right: 77px;
    margin-top: 56px;
}

.index-header-logo{
    height: 121.97px;
    width: 100.03px;
    transition: all 1s ease;
}

.index-header-logo-size{
    height: 121.97px;
    width: 100.03px;
    position: absolute;
    transition: all 1s ease;
}

.index-header-div{
    display: flex;
    align-items: center;
    height: 49px;
    width: 279px;
}

.index-header-text{
    font-size: 20px;
    margin-right: 24px;
}

.sign-up-btn{
    height: 49px;
    width: 91px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: unset;
    transition: all 125ms ease;
}

.sign-up-btn:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}

.log-in{
    width: 652px;
    height: 493px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    margin-top: 64px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.log-in h2{
    font-size: 61px;
    margin-top: 32px;
}

.index-input-container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.index-input-icon{
    border-radius: 0;
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
}

#mail-icon{
    width: 21px;
    height: 16px;
}

#lock-icon{
    width: 16px;
    height: 21px;
}

.index-input{
    border-radius: 10px;
    width: 100%;
    margin-bottom: 24px;
    height: 48px;
}

.log-in form{
    width: 422px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.log-in-underline{
    background-color: rgba(41, 171, 226, 1);
    height: 3px;
    width: 150px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.checkbox-container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 142px;
    height: 24px;
}

.checkbox-label{
    margin: 0;
}


input[type=checkbox] {
    transform: scale(0.5);
    margin: 0;
}

.log-in-buttons-div{
    margin-top: 32px;
    display: flex;
    width: 322px;
    height: 48px;
    justify-content: space-between;
}

.log-in-btn{
    height: 100%;
    width: 110px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    border: unset;
    transition: all 125ms ease;
}

.checkbox-label:hover{
    cursor: pointer;
}

.remember-checkbox:hover{
    cursor: pointer;
}

.log-in-btn:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}


.guest-log-in-btn{
    height: 100%;
    width: 177px;
    color: rgba(42, 54, 71, 1);
    border: 2px solid rgba(42, 54, 71, 1);
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    transition: all 125ms ease;
}

.guest-log-in-btn:hover{
    cursor: pointer;
    color: rgba(41, 171, 226, 1);
    border: 2px solid rgba(41, 171, 226, 1);
}

.log-in-row{
    display: flex;
    margin-bottom: 8px;
}

.forgot-btn{
    background: transparent;
    border: none;
    color: rgba(41, 171, 226, 1);
    font-size: 16px;
    margin-left: 32px;
    opacity: 0;
    display: none;
}

.index-link-div{
    display: flex;
    justify-content: space-between;
    width: 246px;
    height: 35px;   
    position: fixed;
    bottom: 32px;
}

.index-link-div a{
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
    transition: all 100ms ease;
}

.index-link-div a:hover{
    color: rgba(41, 171, 226, 1);
    font-weight: bold;
}

.sign-up{
    position: relative;
    width: 598px;
    height: 630px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    margin-top: 32px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.index-header-2{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 77px;
    padding-right: 77px;
    margin-top: 32px;
}

.sign-up h2{
    font-size: 61px;
    font-weight: 700;
}

.sign-up form{
    width: 422px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.sign-up form input[type=checkbox] {
    transform: scale(1);
    margin-right: 16px;
}

.sign-up-row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-up-btn-2{
    height: 55px;
    width: 110px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    border: unset;
    transition: all 125ms ease;
    margin-top: 24px;
}

.sign-up-btn-2:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}

.sign-up-btn-2:disabled{
    background-color: rgba(42, 54, 71, 0.8);
}

.sign-up-btn-2:disabled:hover {
    
    cursor: default; 
}

.checkbox-container-2{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 231px;
    height: 24px;
    margin-top: 8px;
}

.checkbox-container-2 a{
    text-decoration: none;
    color: rgba(41, 171, 226, 1);
}

.return-img-sign-up{
    position: absolute;
    left: 48px;
    top: 44px;
    transition: all 100ms ease;
}

.return-img-sign-up:hover{
    cursor: pointer;
    transform: scale(1.1)

}



#msg-div{
    width: 312px;
    height: 56px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    font-size: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.index-header-logo-800{
    height: 100px;
    width: 80px;
    transition: all 1s ease;
    position: absolute;
}

.index-header-logo-600{
    width: 64px;
    height: 78px;
    transition: all 1s ease;
    position: absolute;
}


@media (max-height:800px){
    .index-header, .index-header-2{
        margin-top: 24px;
    }
    .index-header-logo{
        height: 100px;
        width: 80px;
    }
    .index-header-div{
        height: 40px;
    }
    .index-header-text{
        font-size: 18px;
    }
    .sign-up-btn{
        height: 40px;
    }
    .log-in{
        height: 420px;
        width: 520px;
        margin-top: 56px;
    }
    .log-in h2, .sign-up h2{
        font-size: 48px;
        margin-top: 32px;
    }
    .index-input{
        height: 40px;
        margin-bottom: 24px;
    }
    .sign-up .index-input{
        margin-bottom: 12px;
    }
    .sign-up .index-input-icon{
        margin-top: 12px;
    }
    .log-in form{
        margin-top: 16px;
        width: 400px;
    }
    .checkbox-container{
        height: 16px;
    }
    .log-in-buttons-div{
        margin-top: 24px;
        height: 40px;
    }
    .index-link-div{
        bottom: 8px;
    }
    .index-link-div a{
        font-size: 14px;
    }

    .sign-up{
        width: 550px;
        height: 510px;
    }
    .sign-up form{
        margin-top: 8px;
    }
    .sign-up-btn-2{
        margin-top: 24px;
    }
}


#sign-up-div-mobile{
    display: none;
}

@media(max-width: 1300px){
    main{
        padding-left: 40px;
    }
}

@media(max-width: 1250px){
    .addTaskColumn{
        width: 32%;
    }
    .form-bottom{
        width: 67%;
    }
    .add-task-modal .addTaskColumn{
        width: 44%;
    }
}

@media(max-width: 1000px){
    main{
        padding-left: 32px;
    }
}

@media(max-width: 850px) {
    .add-task-form{
        flex-direction: column;
        margin-top: 16px;
    }
    .addTaskBorder{
        display: none;
    }
    h1{
        font-size: 47px;
    }
    #description{
        height: 88px;
        margin-top: 0px;
        margin-bottom: 4px;
    }
    .addTaskColumn{
        width: 60%;
    }
    .add-task-modal .addTaskColumn{
        width: 80%;
    }
    main{
        padding-left: 40px;
    }
    #category-input{
        display: none;
    }
    #subtasks-input{
        display: none;
    }

    main{
        padding-top: 32px;
    }
    form input {
        margin-top: 4px;
    }
    form select {
        margin-top: 4px;
    }
    .input{
        margin-bottom: 4px;
    }
    .prio-btns{
        margin-top: 4px;
    }
    label {
        margin-bottom: 4px;
    }
    .form-bottom{
        width: 57%;
        align-items: center;
    }

}

@media(max-width: 750px){
    .clear-btn{
        display: none !important;
    }
    .create-task-btn{
        width: 183px;
    
    }
    .form-btns-div{
        width: 183px;
    }
    .addTaskColumn{
        width: 55%;
    }
    .form-bottom{
        width: 51%;
        
    }

}

@media(max-width:600px){
    main{
        left: 0;
        padding-left: 24px;
    }

    #signed-up-div{
        display: none;
    }
    #sign-up-div-mobile{
        display: block;
        margin-top: 32px;
        }
    .index-header-logo{
        width:64px;
        height: 78px;
    }
    .index-header{
        padding-left: 40px;
    }
    .log-in, .sign-up{
        width: 100%;
    }
    .sign-up{
        height: 540px;
    }
    .index-input{
        height: 48px;
    }
    .log-in form, .sign-up form{
        width: 80%;
    }
    .log-in-buttons-div{
        width: 75%;
    }
  

    .info-main{
        position: fixed;
        top: 88px;
        left: 0px;
        padding-top: 32px; 
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
        height: calc(100vh - 88px);
        overflow: auto;
        padding-bottom: 96px;
    }
    .addTaskColumn{
        width: 90%;
    }
    .form-bottom{
        width: 83%;
        bottom: 104px;
    }
}

@media(max-width: 500px){
    .log-in{
        height: 460px;
        margin-top: 40px;
    }
    .log-in h2, .sign-up h2{
        font-size: 47px;
        margin-top: 24px;
    }
    .sign-up{
        height: 500px;
    }

    .log-in-buttons-div{
       flex-direction: column;
       width: 100%;
       height: 100px;
       align-items: center;
    }
    .log-in-btn{
        width: 180px;
        margin-bottom: 8px;
        height: 51px;
    }
    .guest-log-in-btn{
        width: 180px;
        height: 51px;
    }
    .log-in-underline{
        margin-top: 16px;
        margin-bottom: 8px;
    }
    .index-header-text{
        font-size: 16px;
    }
    #sign-up-div-mobile{
     
        margin-top: 16px;
    }
   
}

@media(max-width: 400px){
    .log-in-buttons-div{
        margin-top: 8px;
     }
     .return-img-sign-up{
        left: 32px;
     }
}


.hidden{
    opacity: 0;
    transition: all 125ms ease;
}

.initial-logo-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.initial-index-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
    height: 334px;
    transition: all 100ms ease;
}

@media(max-width:480px){
    .initial-logo-div{
        background-color: rgba(42, 54, 71, 1);
    }
    .initial-index-logo{
        height: 121.97px;
        width: 100.03px;
    }
}


@media(max-width: 600px) and (max-height: 800px){
    header{
        height: 80px;
    }
    main{
        top: 80px;
        padding-top: 16px;
    }
    .mobile-menu{
        height: 72px;
    }
    .mobile-menu-div{
        height: 68px;
    }
    #description{
        height: 64px;
        padding: 8px 16px 8px 16px;
    }
    .input-container{
        height: 40px;
    }
    .input{
        margin-bottom: 2px;
    }
    .form-bottom{
        bottom: 88px;
    }
}





#contact-added-confirmation{
    background: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    height: 74px;
    width: 326px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    right: -400px; 
    transform: translateY(-50%);
    transition: right 0.5s ease; 
}

#contact-added-confirmation.show {
    right: 35%; 
    transform: translate(50%, -50%);
}   

#log-in-msg{
    background: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    height: 64px;
    width: 370px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -300px;
    left: 50%; 
    transform: translateX(-50%);
    transition: top 0.5s ease; 
}

#log-in-msg.show{
    top: 80px;
}

.sign-up-modal-bg{
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-modal{
    width: 312px;
    height: 74px;
    background: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    height: 74px;
    width: 326px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -200px;
    right: 50%;
    transform: translateX(50%);
    transition: bottom 500ms ease; 
}

.sign-up-modal.show{
    bottom: 50%;
    transform: translateX(50%);
}

.d-none{
    display: none;
}

.task-added-modal{
    width: 312px;
    height: 74px;
    background: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    height: 74px;
    width: 326px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -200px;
    right: 50%;
    transform: translateX(50%);
    transition: bottom 500ms ease; 
}

.task-added-modal.show{
    bottom: 50%;
    transform: translateX(50%);
}

#task-added-msg-img{
    margin-left: 8px;
}

.summary-info-row div{
    transition: all 100ms ease;
}

.summary-info-row div:hover{
    /* background-color: rgba(42, 54, 71, 1);
    color: white; */
    cursor: pointer;
    scale: 1.05;
}

.summary-info-box-row-1:hover img {
    color: white;
    /* filter: invert(100%) hue-rotate(180deg) saturate(100%); */
}


@media(max-height: 700px){
    .log-in input, button{
        height: 40px;
    }
    .log-in{
        height: 410px;
    }
    .sign-up-btn-2{
        margin-top: 8px;
    }
    .sign-up{
        height: 480px;

    }
}


.task-display-large .input-container .radio-tile label {
   margin-bottom: 16px;
}


@media (max-width: 500px) and (max-height: 750px) {
    .task-display-large{
        height: 100vh;
        border-radius: 0;
    }
    
    .contacts-display-header{
        margin-top: 40px;
    }
    .large-task-display-footer{
        margin-top: 0;
    }
    .task-display-large{
        padding-bottom: 8px;
    }
}