.add-contact-modal-bg{
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.add-contact-modal{
    height: 592px;
    width: 1212px;
    display: flex;
    transform: translateX(200%);
    transition: all 400ms ease;
}

.add-contact-modal.show{
    transform: translateX(0);
}

.add-contact-modal-left{
    height: 100%;
    width: 467px;
    background-color: rgba(42, 54, 71, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 48px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.modal-bar{
    height: 0;
    width: 90px;
    border: 2px solid rgba(41, 171, 226, 1);
    border-radius: 16px;
    margin-bottom: 40px; 
    margin-top: 8px;
}

.add-contact-modal-title{
    font-size: 61px;
    font-weight: 700;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;

}

.add-contact-team{
    font-size: 27px;
    color: white;
    margin-bottom: 8px;;
}

.add-contact-modal-right{
    height: 100%;
    width: 745px;
    background-color: white;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;

}




.add-contact-modal-rh{
    display: flex;
    justify-content: flex-end;
    padding-left: 24px;
    padding-right: 40px;
    margin-top: 40px;
}

.add-contact-form-div{
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.add-contact-form{
    width: 422px;
}

.new-contact-img{
    height: 120px;
    width: 120px;
    margin-right: 72px;
    margin-top: 48px;
}

.add-contact-icon{
    width: 24px;
    height: 24px;
}

.add-contact-form-btns{
    display: flex;
    margin-top: 32px;
}

.cancel-contact-btn{
    width: 126px;
    color: rgba(42, 54, 71, 1);
    font-size: 20px;
    border: 1px solid rgba(42, 54, 71, 1);
    background-color: white;
}

.create-contact-btn{
    font-size: 21px;
    font-weight: 700;
    width: 214px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    border: unset;
    margin-left: 24px;
}


.btn-icon{
    margin-left: 4px;
}

.add-contact-form-btns button{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 75ms ease;
    border-radius: 16px;
}

.cancel-contact-btn:hover{
    cursor: pointer;
    border: 2px solid rgba(41, 171, 226, 1);
    color: rgba(41, 171, 226, 1);
}

.create-contact-btn:hover{
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}

.close-contact-modal-icon{
    cursor: pointer;
}