
.active-contact-modal{
    position: relative;
    z-index: 500;
}

.single-contact-display-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.scd-initials{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-weight: 500;
    margin-right: 48px;

}

.scd-name{
    font-size: 47px;
    font-weight: 500;
}

.scd-options-div{
    display: flex;
    margin-top: 8px;
}

.scd-option-btn{
    height: 24px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-right: 8px;
}

.scd-option-btn:hover{
    cursor: pointer;
    color: rgba(41, 171, 226, 1);
    font-weight: bold;
}

.scd-option-btn:hover img{
    filter: brightness(0) saturate(100%) invert(73%) sepia(29%) saturate(6474%) hue-rotate(165deg) brightness(92%) contrast(91%);
}

.scd-option-btn img{
    width: 24px;
    height: 24px;
    margin-right: 2px;
}

.single-contact-display-body{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.contact-info{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.scd-info-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 24px;
}

.contact-mail{
    font-size: 16px;
    color: rgba(41, 171, 226, 1);
}

.contact-phone{
    font-size: 16px;
}

#c-header-bar-mobile{
    display: none;
}

.scd-options-mobile-div{
    /* opacity: 0; */
    height: 56px;
    width: 56px;
    position: fixed;
    bottom: 120px;
    right: 20px;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 125ms ease;
    z-index: 10;
    
}

.scd-options-mobile-div:hover{
    cursor: pointer;
    background-color: #29ABE2;
}

@media(max-width: 700px) AND (min-width:600px){
    .scd-initials{
        margin-right: 8px;
    }
}